body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:640px;
}
#u300 {
  position:absolute;
  left:2px;
  top:312px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:640px;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:640px;
}
#u302 {
  position:absolute;
  left:2px;
  top:312px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u303 {
  position:absolute;
  left:87px;
  top:25px;
  width:176px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u304 {
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  word-wrap:break-word;
}
#u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u305 {
  position:absolute;
  left:263px;
  top:25px;
  width:82px;
  height:39px;
}
#u306 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u307 {
  position:absolute;
  left:14px;
  top:70px;
  width:338px;
  height:570px;
}
#u308 {
  position:absolute;
  left:2px;
  top:277px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u309 {
  position:absolute;
  left:14px;
  top:30px;
  width:30px;
  height:30px;
}
#u310 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u311 {
  position:absolute;
  left:118px;
  top:577px;
  width:30px;
  height:30px;
}
#u312 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:12px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u314 {
  position:absolute;
  left:85px;
  top:109px;
  width:3px;
  height:12px;
}
#u315 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u316 {
  position:absolute;
  left:96px;
  top:106px;
  width:3px;
  height:19px;
}
#u317 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u318 {
  position:absolute;
  left:107px;
  top:101px;
  width:3px;
  height:28px;
}
#u319 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:12px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u320 {
  position:absolute;
  left:118px;
  top:109px;
  width:3px;
  height:12px;
}
#u321 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u322 {
  position:absolute;
  left:129px;
  top:106px;
  width:3px;
  height:19px;
}
#u323 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u324 {
  position:absolute;
  left:141px;
  top:101px;
  width:3px;
  height:28px;
}
#u325 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u326 {
  position:absolute;
  left:152px;
  top:106px;
  width:3px;
  height:19px;
}
#u327 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:12px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u328 {
  position:absolute;
  left:163px;
  top:109px;
  width:3px;
  height:12px;
}
#u329 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u330 {
  position:absolute;
  left:174px;
  top:112px;
  width:3px;
  height:6px;
}
#u331 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:12px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u332 {
  position:absolute;
  left:185px;
  top:109px;
  width:3px;
  height:12px;
}
#u333 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u334 {
  position:absolute;
  left:196px;
  top:106px;
  width:3px;
  height:19px;
}
#u335 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u336 {
  position:absolute;
  left:207px;
  top:101px;
  width:3px;
  height:28px;
}
#u337 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u338 {
  position:absolute;
  left:218px;
  top:97px;
  width:3px;
  height:35px;
}
#u339 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u340 {
  position:absolute;
  left:229px;
  top:101px;
  width:3px;
  height:28px;
}
#u341 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u342 {
  position:absolute;
  left:240px;
  top:106px;
  width:3px;
  height:19px;
}
#u343 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u344 {
  position:absolute;
  left:251px;
  top:106px;
  width:3px;
  height:19px;
}
#u345 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:12px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u346 {
  position:absolute;
  left:263px;
  top:109px;
  width:3px;
  height:12px;
}
#u347 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u348 {
  position:absolute;
  left:274px;
  top:112px;
  width:3px;
  height:6px;
}
#u349 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:12px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u350 {
  position:absolute;
  left:285px;
  top:109px;
  width:3px;
  height:12px;
}
#u351 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u352 {
  position:absolute;
  left:296px;
  top:106px;
  width:3px;
  height:19px;
}
#u353 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u354 {
  position:absolute;
  left:307px;
  top:106px;
  width:3px;
  height:15px;
}
#u355 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:12px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u356 {
  position:absolute;
  left:318px;
  top:109px;
  width:3px;
  height:12px;
}
#u357 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:6px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u358 {
  position:absolute;
  left:329px;
  top:112px;
  width:2px;
  height:6px;
}
#u359 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u360 {
  position:absolute;
  left:74px;
  top:112px;
  width:3px;
  height:6px;
}
#u361 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u362 {
  position:absolute;
  left:339px;
  top:114px;
  width:2px;
  height:3px;
}
#u363 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u364 {
  position:absolute;
  left:19px;
  top:95px;
  width:40px;
  height:40px;
}
#u365 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u366 {
  position:absolute;
  left:19px;
  top:188px;
  width:38px;
  height:38px;
}
#u367 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u368 {
  position:absolute;
  left:67px;
  top:188px;
  width:258px;
  height:33px;
}
#u369 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u370 {
  position:absolute;
  left:18px;
  top:271px;
  width:40px;
  height:40px;
}
#u371 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u372 {
  position:absolute;
  left:67px;
  top:275px;
  width:271px;
  height:22px;
  font-size:18px;
}
#u373 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u374 {
  position:absolute;
  left:67px;
  top:321px;
  width:217px;
  height:22px;
  font-size:18px;
}
#u375 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u376 {
  position:absolute;
  left:11px;
  top:407px;
  width:48px;
  height:48px;
}
#u377 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u378 {
  position:absolute;
  left:69px;
  top:407px;
  width:279px;
  height:48px;
  font-size:18px;
}
#u378_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(202, 85, 88, 1);
  border-radius:14px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u378.selected {
}
#u378_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:14px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u378.disabled {
}
#u379 {
  position:absolute;
  left:2px;
  top:2px;
  width:275px;
  word-wrap:break-word;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
  background:inherit;
  background-color:rgba(202, 85, 88, 1);
  border:none;
  border-radius:23px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
  color:#FFFFFF;
}
#u380 {
  position:absolute;
  left:118px;
  top:578px;
  width:150px;
  height:34px;
  font-size:18px;
  color:#FFFFFF;
}
#u380_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(202, 85, 88, 1);
  border-radius:23px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
  color:#FFFFFF;
}
#u380.selected {
}
#u380_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:23px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
  color:#FFFFFF;
}
#u380.disabled {
}
#u381 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u382 {
  position:absolute;
  left:29px;
  top:569px;
  width:28px;
  height:28px;
}
#u383 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u384 {
  position:absolute;
  left:19px;
  top:597px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u385 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u386 {
  position:absolute;
  left:309px;
  top:569px;
  width:32px;
  height:32px;
}
#u387 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u388 {
  position:absolute;
  left:313px;
  top:601px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u389 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
