body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u390 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:640px;
}
#u391 {
  position:absolute;
  left:2px;
  top:312px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:640px;
}
#u392 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:640px;
}
#u393 {
  position:absolute;
  left:2px;
  top:312px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u394 {
  position:absolute;
  left:87px;
  top:25px;
  width:176px;
  height:39px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u395 {
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  word-wrap:break-word;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u396 {
  position:absolute;
  left:263px;
  top:25px;
  width:82px;
  height:39px;
}
#u397 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u398 {
  position:absolute;
  left:14px;
  top:70px;
  width:338px;
  height:570px;
}
#u399 {
  position:absolute;
  left:2px;
  top:277px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u400 {
  position:absolute;
  left:14px;
  top:30px;
  width:30px;
  height:30px;
}
#u401 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u402 {
  position:absolute;
  left:118px;
  top:577px;
  width:30px;
  height:30px;
}
#u403 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u404 {
  position:absolute;
  left:6px;
  top:233px;
  width:32px;
  height:32px;
}
#u405 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:130px;
}
#u406 {
  position:absolute;
  left:6px;
  top:70px;
  width:351px;
  height:130px;
}
#u407 {
  position:absolute;
  left:2px;
  top:57px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:32px;
  background:inherit;
  background-color:rgba(233, 179, 65, 1);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u408 {
  position:absolute;
  left:194px;
  top:159px;
  width:94px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u409 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  background:inherit;
  background-color:rgba(64, 136, 238, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u410 {
  position:absolute;
  left:140px;
  top:124px;
  width:217px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u411 {
  position:absolute;
  left:2px;
  top:3px;
  width:213px;
  word-wrap:break-word;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u412 {
  position:absolute;
  left:48px;
  top:237px;
  width:87px;
  height:19px;
  font-size:16px;
}
#u413 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u414 {
  position:absolute;
  left:284px;
  top:241px;
  width:59px;
  height:16px;
  color:#999999;
}
#u415 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u416 {
  position:absolute;
  left:48px;
  top:283px;
  width:295px;
  height:62px;
}
#u417 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u418 {
  position:absolute;
  left:48px;
  top:358px;
  width:28px;
  height:28px;
}
#u419 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u420 {
  position:absolute;
  left:85px;
  top:366px;
  width:29px;
  height:16px;
}
#u421 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  position:absolute;
  left:200px;
  top:366px;
  width:29px;
  height:16px;
}
#u423 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u424 {
  position:absolute;
  left:163px;
  top:361px;
  width:28px;
  height:28px;
}
#u425 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:26px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#CA5558;
}
#u426 {
  position:absolute;
  left:283px;
  top:363px;
  width:57px;
  height:23px;
  color:#CA5558;
}
#u426_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(207, 209, 210, 1);
  border-radius:26px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#CA5558;
}
#u426.selected {
}
#u426_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:26px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  color:#CA5558;
}
#u426.disabled {
}
#u427 {
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
